.weather-widget {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 12px;
  background: rgba(255, 255, 255, 0.1);
  padding: 5px 10px;
  border-radius: 8px;
  width: fit-content;
  backdrop-filter: blur(4px); /* 배경 흐림 효과 */
}

.weather-icon {
  width: 30px;
  height: 30px;
}

.weather-temp {
  font-weight: bold;
}
