.TodoList {
  background-color: white;
  border-radius: 12px;
  padding: 24px;
  box-sizing: border-box;
}

.TodoList .input-container {
  display: flex;
  gap: 8px;
  margin-bottom: 16px;
}

.TodoList .input-container input {
  flex: 1;
  padding: 12px 16px;
  border: none;
  font-size: 14px;
  outline: none;
  transition: border-color 0.2s, box-shadow 0.2s;
}

.TodoList .input-container input:focus {
  border-bottom: 1px solid #9ca3af65;
}

.TodoList .edit-input {
  flex: 1;
  background-color: #fafafa;
  padding: 0px 12px;
  border: none;
  font-size: 14px;
  outline: none;
  transition: border-color 0.2s, box-shadow 0.2s;
  height: 36px;
  line-height: 36px;
  box-sizing: border-box;
  border-radius: 5px;
}

.TodoList .todo-items {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.TodoList .todo-item {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 8px 12px;
  border-radius: 8px;
  transition: background-color 0.2s;
  min-height: 52px;
}

.TodoList .todo-item:hover {
  background-color: #f3f4f68a;
}

.TodoList .todo-item input[type="checkbox"] {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.TodoList .todo-item .todo-text {
  flex: 1;
  color: #1f2937;
  font-size: 14px;
  line-height: 20px;
}

.TodoList .todo-item .todo-text.completed {
  text-decoration: line-through;
  color: #9ca3af;
}

.TodoList .todo-item button {
  padding: 6px 12px;
  color: black;
  background-color: white;
  border: none;
  border-radius: 5px;
  font-size: 12px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.TodoList .todo-item button:hover {
  background-color: #f3f4f68a;
}
